.card {
  padding: var(--lg);
  border: var(--border);
  border-radius: var(--sm);

  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 10% 1fr 10% 10%;
  min-width: 310px;

  .name {
    justify-self: start;
    text-transform: capitalize;
  }
}
