.register {
  display: grid;
  place-content: center;

  .form {
    position: relative;
    display: grid;
    gap: var(--lg);
    width: 300px;

    .link {
      color: var(--primary);
    }
  }
}
