.search {
  position: relative;

  input {
    padding-right: 2rem;
  }

  .inputErr {
    outline: var(--err-outline);
  }

  .lupe {
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    background-color: transparent;
    font-size: 1.4rem;

    &:hover {
      transform: scale(1.1);
    }
  }
}
